/bin
/blocks.lpr
/blocks_blob.lpr
/chess.lpr
/chess_match_corner.lpr
/chess_vert.lpr
/Imakefile
/lib
/Makefile
/Makefile.bak
/nedderman.lpr
/nedderman_match.lpr
/nedderman_match_window.lpr
/pictures
/process_image.c
/process_image.o
/process_image_scratch.c
/street.lpr
/Vision.exe
/Vision.exe.stackdump